.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.div-enterprise{
  background-color: rgb(0, 0, 114);
  border-left: solid 10px rgb(6, 6, 47);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
  font-size: 100px;
  color: wheat;
}

.div-title{
  background-color: wheat;
  text-align: center;
  font-size: 50px;
  color: rgb(6, 6, 47),
}

table{
  background-color: rgb(6, 6, 47);
  width: 100%;
}

th{
  color: antiquewhite;
  font-size: 30px;
  border-left: 1px solid antiquewhite;
}

td{
  background-color: antiquewhite;
  align-items: center;
  text-align: center;
  height: 70px;
}

input{
  max-width: 300px;
  text-align: center;
  font-size: 15px;
}

button{
  width: 100px;
  margin-bottom: 5px;
  flex-grow: 1;
  background-color: rgb(233, 227, 216);
}

td.action {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

td.editing{
  background-color: rgb(235, 183, 159);
}

button.green{
  background-color: rgb(79, 177, 103);
}
button.red{
  background-color: rgb(204, 97, 97);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
